// Переменные
$bg-color: #333;
$text-color: white;
$hover-color: grey;
$mobile-breakpoint: 768px;
$border-color: #ccc;
$hover-scale: 1.05;


@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
}


footer, main {
  background-color: $bg-color;
  color: $text-color;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




//_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________






header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  position: relative;
  height: 460px; 
}


header img {
  position: absolute; 
  top: 10px; 
  left: 20px; 
  width: 50px;
  height: 50px;
}


.fix-photo {
  background-image: url("../img/photo-1575210489639-61c86a0154d4.jpeg"); 
  background-size: cover;  
  background-position: center; 
  background-attachment: fixed; 
  height: 460px;  
  position: relative;
}


//_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________











.photo-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 70px;
  justify-content: center; 
  padding: 20px; 
}

.photo-text {
  display: flex;
  flex-direction: column; /* Ставим текст под фото */
  align-items: center; /* Центрируем содержимое */
  text-align: center;
}

/* Стили для фотографий */
.photo-container img {
  width: 200px; /* Фиксированная ширина фотографий */
  height: 200px; /* Фиксированная высота фотографий */
  object-fit: cover; /* Обеспечиваем сохранение пропорций */
  border-radius: 50%; /* Скругляем углы фотографий */
}

/* Для мобильных устройств */
@media (max-width: 768px) {
  .photo-container {
      display: grid; /* Используем CSS Grid */
      grid-template-columns: repeat(2, 1fr); /* Две колонки */
      gap: 20px; /* Уменьшенное расстояние между колонками */
  }

  .photo-text {
      text-align: center;
  }

  .photo-container img {
      width: 150px; /* Уменьшаем фото для мобильных устройств */
      height: 150px;
  }
}






//_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________






// Общий контейнер
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;

  img {
    margin-top: 5%;
    width: 50%;
  }

  .text {
    flex: 1;
    margin-top: 10%;

    p {
      font-size: 50px;
    }
  }
}

// Адаптивность для контейнера
@media (max-width: $mobile-breakpoint) {
  .container {
    flex-direction: column;

    img {
      width: 100%;
    }

    .text {
      text-align: center;
    }
  }
}

// Стили блока цитаты
blockquote {
  font-size: 15px;
  font-style: italic;
  color: $text-color;
  border-left: 4px solid black;
  padding-left: 15px;
  margin: 20px;
}


  
  
 
//_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________







.counter-container {
  display: flex;
  margin-top: 7%;
  margin-left: 10%;
  justify-content: center;
  gap: 80px;
  width: 80%;
  flex-wrap: wrap; // Перенос строк для маленьких экранов
}

// Стили для карточек счётчиков
.counter {
  background: $bg-color;
  border: 1px solid $border-color;
  border-radius: 8px;
  padding: 20px;
  text-align: center;

  &:hover {
    transform: scale($hover-scale); // Увеличение при наведении
  }

  .number {
    font-size: 3rem;
    color: $text-color;
    margin: 0;
  }
}

// Адаптивность
@media (max-width: $mobile-breakpoint) {
  .counter-container {
    flex-direction: column; // Карточки выстраиваются в колонку
    align-items: center;
    gap: 15px; // Уменьшаем расстояние между карточками
  }

  .counter {
    width: 90%; // Карточки растягиваются на 90% ширины экрана
  }
}





//_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


.title {
  margin-top: 90px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  border: 2px solid #333;
  margin-bottom: 80px;
}

.grid-item {
  background-color: $bg-color;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}






//_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________







.fixed-photo {
  margin-top: 30px;
  background-image: url("../img/photo-1556808752-77f2fe75360b.jpeg"); /* Укажите путь к изображению */
  background-size: cover; /* Растягивает изображение на весь header */ 
  background-position: center; /* Центрирует фон */ 
  background-attachment: fixed; 
  height: 460px; /* Увеличенная высота */ 
  position: relative;
}





//_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


.reviews-container {
  display: flex;
  flex-wrap: wrap; /* Отображение карточек на одной линии с переносом */
  justify-content: center; /* Центрирование карточек */
  gap: 20px; /* Расстояние между карточками */
  margin: 20px;
  margin-top: 30px;
}

.review-card {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 300px; /* Фиксированная ширина карточки */
  text-align: left;
  margin-bottom: 30px;
}

.review-card h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  color: #ffdd57;
}

.review-card p {
  font-size: 16px;
  line-height: 1.5;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .reviews-container {
    display: grid; /* Используем Grid для мобильных устройств */
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    gap: 15px; /* Расстояние между колонками и строками */
    padding: 10px; /* Уменьшенные отступы */
  }

  .review-card {
    width: auto; /* Автоматическая ширина для сетки */
    text-align: center; /* Текст по центру */
  }

  .review-card h3 {
    font-size: 16px; /* Уменьшенный размер заголовков */
  }

  .review-card p {
    font-size: 14px; /* Уменьшенный размер текста */
    line-height: 1.4;
  }
}







//_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________



.charity-section {
  background-color:#555 ;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  max-width: 1200px;
  margin-bottom: 0px;
}

.charity-container h2 {
  font-size: 26px;
  color: white;
  margin-bottom: 20px;
}

.charity-container p {
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
}

.charity-info {
  display: flex;
  flex-wrap: wrap; /* Адаптивная обёртка для элементов */
  gap: 20px; /* Расстояние между карточками */
  justify-content: center;
}

.charity-item {
  background-color: #555;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: left;
  flex: 1; /* Увеличиваем гибкость для адаптации на мобильных */
  min-width: 240px; /* Минимальная ширина карточки */
}

.charity-item h3 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.charity-item p {
  font-size: 14px;
  color: white;
}

.charity-button {
  margin-top: 17px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

a{
  text-decoration: none;
  color: $text-color;
}

a:visited {
  text-decoration: none; 
  color: white; 
}


.charity-item:hover{
  box-shadow: 0 0 58px rgba(0, 0, 0, 0.832);
}

.charity-button:hover {
  background-color: grey;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .charity-info {
      flex-direction: column; /* Расположение карточек в столбик */
  }

  .charity-item {
      max-width: 100%; /* Занимают всю ширину на мобильных */
  }

  .charity-container h2 {
      font-size: 22px; /* Уменьшаем размер заголовка */
  }

  .charity-container p {
      font-size: 14px; /* Уменьшаем текст на мобильных */
  }
}





//_______________________________________________________________________________________________________________________________________________________________________________________________________________________________________________







